/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #353b48;
} */
/* .main .about .star-wrapper {
  transform: translate(-50%, -50%);
  position: absolute;
  direction: rtl;
  
} */
.star-wrapper {
  margin-top: -75px;
  display: flex;
}
 .star-wrapper i {
 
  text-decoration: none;
  transition: all 0.5s;
  
}
.star-wrapper i{
  font-size: 2em;
  color: #e3e3e3;

  
}
.star-wrapper i:hover {
  color: gold;
  transform: scale(1.3);
}
.s1:hover ~ i {
  color: gold;
}
.s2:hover ~ i {
  color: gold;
}
 .s3:hover ~ i {
  color: gold;
}
.s4:hover ~ i {
  color: gold;
}
 .s5:hover ~ i {
  color: gold;
}
.main .about .wraper {
  position: absolute;
  bottom: 30px;
  right: 50px;
}
